{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Nexus{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/home-styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/nexus-logo.png' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block body_class %}{% endblock %}
    {% if not is_index_page %}
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/nexus-logo.png' %}" alt="NEXUS Logo">
            </a>
            <div class="ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="btn btn-dropdown dropdown-toggle" href="#" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menuDropdown">
                            <a class="dropdown-item" href="{% url 'gerencial_assessoria' %}">Gerencial Assessoria</a>
                            <a class="dropdown-item" href="{% url 'gestao_pessoas' %}">Gestão de Pessoas</a>
                            <a class="dropdown-item" href="{% url 'metas' %}">Metas</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn btn-dropdown dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'info_user' %}">Informações de Usuário</a>
                            <a class="dropdown-item" href="{% url 'index' %}">Sair</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="#">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% endif %}

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    {% if not is_index_page %}
    <footer class="footer">
        <div class="container">
            <span>&copy; 2024 Nexus Liberta. Todos os direitos reservados.</span>
        </div>
    </footer>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
